@charset "utf-8";
body{
	min-width:800px;
}
.skin-background{
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-10;
	background-repeat:no-repeat;
	background-position:center 0;
	background-size:cover;
}
.topbar{width:100%;height:35px;z-index:1000;}
.topbg{
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-image:linear-gradient(rgba(15,25,50,.3) 0,rgba(15,25,50,.3) 100%);
}
.topmenu{position: absolute;left:0px;top:0;}
.weatherBox,.avatar,.myapi{
	float:left;
	height:100%;
}
.avatar{
	width:85px;
	height:35px;
	margin-left: 15px;
	background:transparent url('../images/icon.png') no-repeat 0 -24px ;
}
.weatherBox{margin-left:10px;}
.weatherBox.unkown-city .weather-now{
	display:none;
}
.weather-now>span{
	display:inline-block;
	vertical-align:middle;
	height:100%;
	line-height:35px;
	color:#fff;
	font-size:14px;
}
.weather-now>span.weather-icon{
	width:18px;
	height:18px;
}
.myapi>a,.myresume>a{
	display:block;
	padding:7px 15px;
	color:#fff;
	font-size:16px;
}
.myapi>a:hover,.myresume a:hover{text-decoration:underline;}
.myresume{
	float:right;
	position: relative;
	height:100%;
	right:15px;
}
.wrapper{
	width:100%;
	overflow:hidden;
	position: relative;
	background:rgba(232, 230, 231, 0.85);
}
.banner{
	height:120px;
	background:url(../images/bg_banner.jpg) no-repeat ;
	background-size:cover;
	background-position:0 0 ;
}
.product-wrapper{
	padding-top:30px;
	float: left;
	position: relative;
	left:50%;
}
.product-wrapper>ul{
	position: relative;
	float:left;
	left: -50%;
	overflow:hidden;
}
.product-list{}
.product-list>li{
	float:left;
	width:232px;
}
.product-list>li + li{
	margin-left:15px;
}
.pro-item{
	overflow:hidden;
	position: relative;
	margin-bottom:12px;
	background:#fefefe;
	padding:10px;
	padding-bottom:0;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
}
.pro-item .pic,.pro-item .pic img{
	display:block;
	width:100%;
}
.pro-item .name,.pro-item .time{
	font-size:14px;
	line-height:26px;
	padding:2px 0;
}
.pro-item .name{
	color:#444;
}
.pro-item .time{
	border-top:1px solid #e0e0e0;
}
.leftup{
	position: absolute;
	left:0;
	top:0;
	width:80px;
	height:80px;
	background:url(../products/images/bak.png);
	background-position:0 0 ;
	background-size:cover;
}











#toTop{
	position: fixed;
	right:40px;
	bottom:40px;
	width:46px;
	height:46px;
	background:rgba(0, 0, 0, 0.5);
	color:#fff;
	cursor:pointer;
	display:none;
}
.arrow{
	display:block;
	text-align: center;
	font-size:34px;
	line-height:46px;
}
#toTop:hover>.arrow{
	display:none;
}
#toTop>.text{
	display:none;
	font-size:16px;
	word-wrap:break-word;
	text-align:center;
}
#toTop:hover>.text{
	display:block;
}