@charset "UTF-8";
/*通用样式*/
body, ul,li,p, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-family: '\5FAE\8F6F\96C5\9ED1'; font-size:14px;}
body, html { height: 100%;min-width:500px;}
ul, li { list-style: none; margin}
a, a:hover, a:focus, a:visited { text-decoration: none }
.pull-left { float: left; }
.pull-right { float: right; }
.clearfix:before, .clearfix:after { display: table; content: ''; clear: both; }
.top-fix { position: fixed; top: 0 ,width: 100%;}
.disN { display: none; }
.padding30 { padding: 30px !important; }
.padding20 { padding: 20px !important; }
.padd-top60 { padding-top: 60px; }
.padd-top45 { padding-top: 45px; }

/*通用背景色*/
.bg-safe, .bg-yellow, .bg-red, .bg-green, .bg-light-blue, .bg-danger, .bg-aqua, .bg-blue, .bg-teal, .bg-yellow, .bg-orange, .bg-lime, .bg-red2, .bg-purple, .bg-fuchsia, .bg-fuchsia, .bg-muted, .bg-navy { color: #fff !important; }
.bg-safe { background-color: #00C0EF; }
.bg-red { background-color: #d9534f; border-color: #ff0000; }
.bg-blue { background-color: #0073B7 !important }
.bg-light-blue { background-color: #3c8dbc !important }
.bg-teal { background-color: #39CCCC !important }
.bg-yellow { background-color: #F39C12 !important; }
.bg-green { background-color: #00A65A }
.bg-orange { background-color: #FF851B !important }
.bg-aqua { background-color: #00c0ef !important }
.bg-lime { background-color: #01FF70 !important }
.bg-red2 { background-color: #DD4B39 !important }
.bg-purple { background-color: #605CA8 !important }
.bg-fuchsia { background-color: #F012BE !important }
.bg-muted { background-color: #777 }
.bg-navy { background-color: #001F3F !important }
.bg-teal-gradient { background: #39cccc !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #7adddd)) !important; background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important; background: -moz-linear-gradient(center bottom, #39cccc 0%, #7adddd 100%) !important; background: -o-linear-gradient(#7adddd, #39cccc) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd', endColorstr='#39cccc', GradientType=0) !important; color: #fff }
.bg-light-blue-gradient { background: #3c8dbc !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc), color-stop(1, #67a8ce)) !important; background: -ms-linear-gradient(bottom, #3c8dbc, #67a8ce) !important; background: -moz-linear-gradient(center bottom, #3c8dbc 0, #67a8ce 100%) !important; background: -o-linear-gradient(#67a8ce, #3c8dbc) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce', endColorstr='#3c8dbc', GradientType=0) !important; color: #fff }
.bg-blue-gradient { background: #0073b7 !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important; background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important; background: -moz-linear-gradient(center bottom, #0073b7 0, #0089db 100%) !important; background: -o-linear-gradient(#0089db, #0073b7) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important; color: #fff }
.bg-aqua-gradient { background: #00c0ef !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef), color-stop(1, #14d1ff)) !important; background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important; background: -moz-linear-gradient(center bottom, #00c0ef 0, #14d1ff 100%) !important; background: -o-linear-gradient(#14d1ff, #00c0ef) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff', endColorstr='#00c0ef', GradientType=0) !important; color: #fff }
.bg-yellow-gradient { background: #f39c12 !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f7bc60)) !important; background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important; background: -moz-linear-gradient(center bottom, #f39c12 0, #f7bc60 100%) !important; background: -o-linear-gradient(#f7bc60, #f39c12) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60', endColorstr='#f39c12', GradientType=0) !important; color: #fff }
.bg-purple-gradient { background: #605ca8 !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8), color-stop(1, #9491c4)) !important; background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important; background: -moz-linear-gradient(center bottom, #605ca8 0, #9491c4 100%) !important; background: -o-linear-gradient(#9491c4, #605ca8) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4', endColorstr='#605ca8', GradientType=0) !important; color: #fff }
.bg-green-gradient { background: #00a65a !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important; background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important; background: -moz-linear-gradient(center bottom, #00a65a 0, #00ca6d 100%) !important; background: -o-linear-gradient(#00ca6d, #00a65a) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important; color: #fff }
.bg-red-gradient { background: #dd4b39 !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39), color-stop(1, #e47365)) !important; background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important; background: -moz-linear-gradient(center bottom, #dd4b39 0, #e47365 100%) !important; background: -o-linear-gradient(#e47365, #dd4b39) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365', endColorstr='#dd4b39', GradientType=0) !important; color: #fff }
.bg-black-gradient { background: #111 !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #2b2b2b)) !important; background: -ms-linear-gradient(bottom, #111, #2b2b2b) !important; background: -moz-linear-gradient(center bottom, #111 0, #2b2b2b 100%) !important; background: -o-linear-gradient(#2b2b2b, #111) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#111111', GradientType=0) !important; color: #fff }
.bg-maroon-gradient { background: #d81b60 !important; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d81b60), color-stop(1, #e73f7c)) !important; background: -ms-linear-gradient(bottom, #d81b60, #e73f7c) !important; background: -moz-linear-gradient(center bottom, #d81b60 0, #e73f7c 100%) !important; background: -o-linear-gradient(#e73f7c, #d81b60) !important; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73f7c', endColorstr='#d81b60', GradientType=0) !important; color: #fff }
.progress { background-color: #e8f4ef; }

/*进度条修改bootstrap*/
.my-theme .progress { box-shadow: none; }

/*通用盒子*/
.box { position: relative; border-radius: 3px; background: #ffffff; border-top: 3px solid #d2d6de; margin-bottom: 20px; width: 100%; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
.box.box-solid { border-top: 0; }
.box-header { padding: 10px; color: #333; display: block; position: relative; }
.box-title { display: inline-block; font-size: 18px; font-weight: bold; }
.box-body { border-radius: 0 0 3px 3px; padding: 10px; }
.bg-yellow-gradient .box-body, .bg-green-gradient .box-body { background: #fff; color: #333; }
.bg-green-gradient .box-header { color: #fefefe; }
.box-header.with-border { border-bottom: 1px solid #f4f4f4; }

/*---------------------END----------------------------*/

/*******独立样式**********************************************/

.page-bg { width: 100%; height: 100%; position: fixed; background: transparent url("../images/bg.jpg") no-repeat fixed 0 0 /cover;    /*连写是必须加反斜杠*/ z-index: 0; top: 0; left: 0; }
.page-bg.filter { background-color: #fff; z-index: 3; background: rgba(107, 245, 181, 0.2); }
.page-bg.moving { z-index: 1; }
.page-bg.moving span { position: absolute; background-color: #afffeb; opacity: 0.7; animation-name: bg-move; animation-iteration-count: infinite; animation-timing-function: linear; -webkit-filter: blur(3px);    /* Chrome, Opera */ -moz-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px); }
.page-bg.moving span:nth-child(1) { left: 5%; width: 30px; height: 30px; animation-duration: 4s; }
.page-bg.moving span:nth-child(2) { left: 8%; width: 60px; height: 60px; animation-duration: 10s; }
.page-bg.moving span:nth-child(3) { left: 13%; width: 56px; height: 56px; animation-duration: 15s; }
.page-bg.moving span:nth-child(4) { left: 20%; width: 120px; height: 120px; animation-duration: 12s; }
.page-bg.moving span:nth-child(5) { left: 27%; width: 90px; height: 90px; animation-duration: 6s; }
.page-bg.moving span:nth-child(6) { width: 110px; height: 110px; left: 35%; animation-duration: 9s; }
.page-bg.moving span:nth-child(7) { left: 43%; width: 180px; height: 180px; animation-duration: 17s; }
.page-bg.moving span:nth-child(8) { left: 56%; width: 78px; height: 78px; animation-duration: 12s; }
.page-bg.moving span:nth-child(9) { left: 67%; width: 102px; height: 102px; animation-duration: 14s; }
.page-bg.moving span:nth-child(10) { left: 86%; width: 66px; height: 66px; animation-duration: 16s; }
.page-bg.moving span:nth-child(11) { left: 90%; width: 56px; height: 56px; animation-duration: 8s; }
.page-bg.moving span:nth-child(12) { left: 95%; width: 76px; height: 76px; animation-duration: 10s; }
.page-bg.moving span:nth-child(13) { left: 99%; width: 16px; height: 16px; animation-duration: 19s; }
.page-bg.moving span:nth-child(14) { left: 80%; width: 96px; height: 96px; animation-duration: 10s; }
.page-bg.moving span:nth-child(15) { left: 1%; width: 20px; height: 20px; animation-duration: 25s; }
@keyframes bg-move {
    0% { transform: rotate(0deg); top: 100%; }
    100% { top: -10%; transform: rotate(720deg); }
}
.sidebar { width: 100%; height: 40px; background-color: rgba(48, 48, 48, 0.5); z-index: 10; }
.main-wapper { position: relative; 
    width: 100%; 
    height: 100%;    
    /*padding-top:50px;*/ 
    z-index: 6; 
    /*overflow: hidden;*/ 
    margin-bottom:1250px;
}
.head-logo { position: absolute; top: -130px; width: 100%; opacity: 0.5;    /*margin-bottom: 50px;*/    /*margin-top:-300px;*/ }
.mylogo { display: block; width: 140px; height: 140px; margin: 0 auto; transition: all 0.5s; }
.mylogo.over { margin: 0 auto; transform: rotate(360deg); }
.head-logo img { width: 100%; border-radius: 50%; }
.head-logo.pull-left { margin-right: 20px; }
.menu-home>h3 { color: #FFF; }
.personInfo.box { border-top-color: #FF851B; }
.personInfo .head-logo { width: 100px; height: 100px; border-radius: 50%; overflow: hidden; }
.important-info small { font-size: 60%; }
.important-info { font-size: 16px; }
.important-info .name { font-size: 24px;    /*font-weight:bold;*/ padding-top: 5px; padding-bottom: 5px; }
.important-info>ul>li { padding: 5px 0; }
.important-info>ul>li>i { padding: 5px; }
.main-menu >li { margin-left: 264px; opacity: 0; }
.menu-home, .menu-me { }
#nav { overflow: hidden; }
#nav a { display: block; text-align: center; color: #fff; margin: 0 auto; transition: font-size 0.3s; border-radius: 3px; }
.homebtn { background-color: #00A65A; }
.abountbtn { background-color: #FF851B; }
.btn3 { background-color: #01FF70; }
.btn4 { background-color: #DD4B39; }
.box.brief .text-normal { font-size: 14px; line-height: 1.6; text-indent: 2em; }
.text-normal a { font-style: oblique; font-weight: 600; }
.text-normal a:hover { text-decoration: underline; }
.page {    /*position: relative;*/
position: absolute; width: 100%; height: 100%; padding-top:60px;}
.page.curr { top: 0; }
.page.next { top: 100%; }
.page-num { position: fixed; top: 50%; right: 50px; z-index: 100; margin-top: -24px; opacity: 1;    /*transition: opacity 10s;*/    /*-webkit-transition: opacity 10s;*/ }
.page-num.hidee { opacity: 0; }
.page-num>span { display: block; width: 14px; height: 14px; border-radius: 50%; background-color: #eeeeee; cursor: pointer; transition: background-color .8s; }
.page-num>span + span { margin-top: 20px; }
.page-num>span.active { background-color: #00B7FF; }

/*logo六边形*/
.hexagon { width: 150px; height: 86px; position: relative; transition: transform 0.5s ease-in-out; margin: 0 auto; }
.hexagon a { display: block; width: 100%; height: 100%; background: #5CA7CF url(../images/my.jpg) no-repeat; background-position: 50% 2%; }
.hexagon .corner-1, .hexagon .corner-2 { position: absolute; left: 0; top: 0; height: 100%; width: 100%; overflow: hidden; z-index: -1; background: #5CA7CF url(../images/my.jpg) no-repeat; background-position: 50% 2%; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; }
.hexagon .corner-1 { transform: rotate(60deg); }
.hexagon .corner-2 { transform: rotate(-60deg); }
.hexagon:hover { transform: rotate(720deg); -webkit-transform: rotate(720deg); }
@media screen and (min-width:1600px) {
    #nav a { width: 170px; height: 170px; font-size: 18px; margin-bottom: 25px; }
    #nav i { padding-top: 50px; display: block; font-size: 36px; margin-bottom: 10px; transition: font-size 0.3s; }
    #nav a:hover { font-size: 22px; }
    #nav a:hover i { font-size: 40px; }
}
@media screen and (min-width:1100px) and (max-width:1600px) {
    #nav a { width: 130px; height: 130px; font-size: 16px; margin-bottom: 24px; }
    #nav i { padding-top: 40px; display: block; font-size: 30px; margin-bottom: 10px; transition: font-size 0.3s; }
    #nav a:hover { font-size: 20px; }
    #nav a:hover i { font-size: 34px; }
    .my-theme .progress { height: 18px; margin-bottom: 16px; }
    .container {
        width: 1130px !important;
    }
}

.progress-bar { width: 0;    /*transition: width 0.8s ;*/ }
/*new page*/
.page.next.new,.page.curr.new{
    background :url('../images/bg5.png');
}
.icon_menu,.image-head,.image-head img,.image-head:after,.image-head>a{
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.pers-tabs-list{
    width:9%;
    float:left;
    margin:0;
}
.pers-tabs-list > li,.pers-tabs-list > li i{
    transition: all .5s;
}
.pers-tabs-list > li{
    display:block;
    padding:17px;
    text-align: center;
    background:#3B5998;
    color:#fff;
    cursor:pointer;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}
.pers-tabs-list > li.pers-tabs-active,.pers-tabs-list > li:hover{
    background: #fff;
}
.tabs-title-list{
    padding-left: 5px !important;
    font-size: 13px;
    position: relative;
    top: -6px;
    display: none;
}
.icon_menu{
    font-size:22px;
    width:42px;
    height:42px;
    display:inline-block;
    position:relative;
    line-height: 43px;
    background:#fff;
    color:#3B5998;
}
.icon_menu_active, .icon_menu_hover,.pers-tabs-list > li:hover i{
    background:#3B5998;
    color:#fff;
}
.widget-profile{
    background:#3B5998;
    float:right;
    height:580px;
}
.profile-img{
    width:100%;
}
.image-head{
    width:150px;
    height:150px;
    margin:15px auto;
    cursor:pointer;
}
.image-head>a{
    width:100%;
    height:100%;
    display:block;
}

.image-head:after{
    display:block;
    content:"";
    background:rgba(10, 10, 10, 0);
    width:100%;
    height:100%;
    position: relative;
    color:#fff;
    top:-100%;
    line-height:150px;
    text-align:center;
    font-size:16px;
    transition: all 0.5s;
}
.image-head:hover:after{
    background:rgba(10, 10, 10, 0.3); 
    content:"进入个人网站";   
}
.image-head img{
    width:150px;
    height:150px;
    border: 10px solid #B5C8EF;
}
.profile-txt{

}
.profile_pname,.profile_psocial>h6{
    color: #B5C8EF;
    text-align:center;
}
.pname{
    font-size:24px;
    line-height:60px;
}
.pline{
    font-size: 15px;
    margin-top: 0px;
}
.profile_pname>h6{
    margin:10px 0;
}
.profile_pdesc{
    color:#B5C8EF;
    padding:15px 0;
    border-bottom: 1px solid #B5C8EF;
    border-top: 1px solid #B5C8EF;
}
.profile_pdesc>p:nth-child(2),.profile_pdesc>p:last-child{
    text-align:right;
}
.profile_psocial{
    margin-top:20px;
}
.profile_psocial>h6{
    letter-spacing:2px;
    padding-bottom:15px;
}
.profile_psocial .psocial-list{
    position: relative;
    float:left;
    left:50%;
}
.psocial-list>li{
    float:left;
    margin:0 5px;
    position:relative;
    right:50%;
}
.psocial-list>li a{
    display:block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
    margin-right: 5px;
    border:1px solid #eee;
    float:left;
    text-align:center;
    color:#eee;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.psocial-list>li a:hover{
    background:#eee;
    color:#3B5998;;
}
.content-inner-container{
    padding:15px;
    /*margin-right:10px;*/
    overflow:hidden;
    height:100%;
}
.tabs-content-container{
    position: relative;
    height:580px;
    float:left;
    margin-left:15px;
    width:88%;
    background-color:#f4f4f4;
    /*overflow:scroll;*/
}


/*滚动条*/
.scrollTools{
    position: absolute;
    top:0;
    right:0;
    width:12px;
}
.draggerContainer{
    width:100%;
    height:580px;
    position: relative;
}
.draggerbar{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.1);
}
.draggerBlock{
    position: absolute;
    width:100%;
    height:50px;
    background:#3B5998;
    opacity:0.8;
    top:0;
    left: 0;
    cursor:pointer;
    min-height:40px;
}
/*第一个 个人信息*/
.contentBox{
    position: relative;
}
/*---通用标题---*/
.content-title{
    font-size:24px;
    font-weight:300;
    padding-bottom:10px;
    border-bottom:1px solid #48505B;
    margin-bottom:20px;
}
.sec-title{
    font-size:20px;
    border-bottom:1px solid #DDD;
    margin-bottom:20px;
    cursor:pointer;
}
.sec-title:after{
    height:1px;
    display:block;
    left:0;
    content:" ";
    position: relative;
    width:40px;
    top:1px;
    background:#3B5998;
    transition:width 0.3s;
}
.sec-title-text{
    font-size:20px;
    margin-bottom:3px;
    color:#3B5998;
    font-weight:bold;
}
.sec-title:hover:after{
    width:100%;
}
/*---通用标题---*/
.person-about i,.person-about label{
    color:#3B5998;
    font-weight:400;
    font-size:13px;
}
.person-about label{
    margin-bottom:5px;
}
.person-about>ul>li{
    padding-top:5px;
    border-bottom:1px solid #DDD;
}
.person-about>ul>li:last-child{
    border-bottom:none;
}
.person-about span.value{
    width:200px;
    float:right;
    color:#717171;
}
.person-about span.value:after{
    clear:both;
    visibility:hidden;
    height:0;
    width:0;
}
.profile_r{
    /*padding-left:0;*/
}
.profile_l>p{
    color:#717171;
    font-family: 'Lato', sans-serif;
}
.cycle-slideshow{
    position: relative;
    margin-left:-15px;
    margin-top:5px;
    width:335px;
    height:439px;
}
.cycle-slideshow img{
    display:block;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
}
.wordbox{
    position: relative;
    margin-top:30px;
    height:44px;
    text-align:center;
}
.wordbox img{
    opacity:0.8;   
}
.wordbox img+img{
    margin-left:10px;
}
.wordbox img:hover{
    opacity:1;
}
/*第二个 skill&resume*/
.workExp-duration,.sec-title-text,.workExp-list li h6 span{
    color:#3B5998;   
}
.workskills{

}
.workskills li{
    margin-bottom:15px;
}
.workExp-title:after,.eduExp-title:after{
    width:80px;
}
.workskills .progressbar>.progressbar-title,.skill.progressbar>.progressbar-bar{
    background:rgba(59, 89, 152, 0.8);
}
.workExp-list li,.using-jslib li{
    margin-bottom:15px;
}
.workExp-list li:last-child{
    margin-bottom:25px;
}
.workExp-list h5{
    padding-bottom:10px;
    border-bottom:1px solid #3B5998 ;
}
.workExp-duration{
    float:right;
}
.workExp-list h6,.workExp-list p{
    font-size:12px;   
}
.workExp-list h6{
    padding:10px 0;
}
.workExp-list h6 span{
    padding-left:3px;
}
.workExp-list p{
    color:#999;
}
.jslib-title:after{
    width:60px;
}
.jslib{overflow:hidden;margin-bottom:15px;}
.jslib >a{
    display:block;
    width:30%;
    float: left;
    transform-origin:center center;
    transition:all 1s;
}
.jslib >a+a{
    margin-left:15px;
}
.jslib >a img{
    width:100%;
    border-radius:10px;
}
.jslib>a:hover{
    transform: rotateX(360deg);
}
.jslib-title,.eduExp-title{margin-top:25px;}
/*第三个 成果展示*/
.content-product >h1{
    position: relative;
    /*background:url('../images/h1_title.png') no-repeat;*/
    /*background-position:100px 10px;*/
}
h1.content-title .more{
    display:block;
    width:19px;
    height:19px;
    background:url('../images/h1_title.png') no-repeat;
    position: absolute;
    right:5px;
    top:3px;
    transition: all 0.5s;
    cursor:pointer;
}
.more:hover{
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);       /* IE 9 */
    -webkit-transform: rotate(90deg);   /* Safari and Chrome */
    -o-transform: rotate(90deg);        /* Opera */
    -moz-transform: rotate(90deg);      /* Firefox */
}
.products-list ul{
    width:100%;
}
.products-list li{
    float:left;
    width:200px;
    margin-bottom:15px;
}
.products-list li:first-child{
    margin-left:5px;
}
.products-list li+li{
    margin-left:30px;
}
.productItem-wapper{
    position: relative;
    overflow:hidden;
    cursor:pointer;
    margin-bottom:15px;
}
.productItem-wapper >a>img{
    width:100%;
    position: relative;
}
.product-label{
    position: absolute;
    width:100%;
    height:40px;
    background:#3B5998;
    bottom:-40px;
}
.product-label a{
    color:#fff;
    display:block;
    text-align:center;
    line-height:40px;
}

/*TODO 通用 进度条*/
.progressbar{
    position: relative;
    width:100%;
    background:#eee;
    height:22px;
    font-size:12px;
}
.progressbar-title,.progressbar-bar,.progressbar-txt{
    height:100%;
}
.progressbar-title,.progressbar-txt{
    position: absolute;  
    top:0;
    line-height:22px;
}
.progressbar-title{
    left:0;
    color:#fff;
    padding:0 10px;
}
.progressbar-bar{
    width:0;
}
.progressbar-txt{
    right:10px;
    color:#444;
}
@media screen and (max-width: 800px){
    .tabs-list,.pers-tabs-list{display:none;}
    .tabs-content-container{
        width:100%;
        margin-left:0px;
        margin-right:-15px;
    }
    .pers-tabs-container{
        background:#f4f4f4;
    }
    .cycle-slideshow{display:none;}
    .content-inner-container{
        width:100%;
    }
}
/*知识点明细页面*/
.topbar{width:100%;}
.breadcrumb {margin-bottom:0;}
.breadcrumb li.active{font-weight:bold;}
h3>i.label { font-size: 16px; vertical-align: middle; padding: 2px; margin-left: 5px; }
.mainWraper { margin-top: 45px; background: #fafafa; }
.text_cn { text-indent: 2em; }
.leftSide, .rightSide { position: relative; }
.leftSide { width: 20%; height: 100%; }
.seekBar { position: absolute; width: 3px; height: 100%; background: #fff; right: 0; top: 0; }
.seekBar:hover { cursor: e-resize; background: #ababab; }
.rightSide { width: 100%;}
nav { position: relative; }
nav>a { position: absolute; right: 10px; top: 0; padding: 5px; }
.content { padding: 0 20px; }
.name >h3{font-size:18px;font-weight:bold;}
.mainWraper>h3 ,.name h3 { border-left: 5px #146BBB solid; background: #7BC0F4; padding: 10px 8px; }
.desc, .param, .example { margin-top: 5px; }
.desc>h5, .param>h5, .example>h5, .support h5 { font-weight: bold; border-left: 4px solid #ED4D1E; background: #F4B47B; padding: 5px 8px; margin-bottom:5px;}
.param p, .desc p { text-indent: 2em; }
.e-item { padding: 10px 20px 10px; background: #efefef; margin-bottom: 20px;}
.item-title { padding: 3px; margin-bottom: 10px; font-weight: bold; color: #555; font-size: 12px; background: #bbb; border-radius: 5px; }
.item-desc { padding-top: 5px; }
.e-item>h6 { font-size: 14px; color: #0865BB; font-weight: bold; padding:5px 0;}
.e-item>code { display: block; border: 1px dashed #333; font-style: italic; }
.pageturn{padding:0 20px;margin-bottom:15px;}
.prevp{
    float:left;
}
.nextp{
    float:right;
}
.footer { width: 100%; background: #2B2F3E; font-size:12px;padding:10px 10px;}
.friendLink,.thanks{
    text-align: center;
}
.footer .title{font-size:16px;}
.footer p,.footer li,.footer span{
    color:#efefef;
    text-align:left;
    font-size:12px;
}
.footer a:hover{
    text-decoration:underline;
}
.thanks{
    padding-top:35px;
}
.paramItem{
    padding:0 20px;
    width:100%;
    font-size:0;
}
.paramItem span{display:inline-block;}
.paramName,.paramType{
    width:50%;
    padding:5px 0;
    border-bottom:1px solid #bbb;
    font-size:14px;
}
.paramName{
    font-weight:bold;
}
.paramdesc{
    padding:5px 0;
}

